BasedOnStyle: LLVM
UseTab: Always
BreakBeforeBraces: Allman
IndentCaseLabels: true
SpaceBeforeAssignmentOperators: true
TabWidth: 4
IndentWidth: 4
ColumnLimit: 120
AlignOperands: true
ReflowComments: true
